<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Janjin preprosti kalkulator</title>
</head>
<body>


       

<h1>Spodaj je pravilni rezultat za izbrana števila: </h1>

<p>Izbrana števila so: <p>
- prvo stevilo: {{ st_1 }}, <br>
- drugo stevilo: {{ st_2 }}, <br>
-izbrana operacija je: {{ operacija }} </p>


<h2>
Pravilni rezultat je: {{ rezultat }}
        </h2>

<form method="get" action="/">
    <button type="submit">Nazaj</button>
</form>      


</body>
</html>


